p{
    color:rgb(12, 8, 0);
    width: 100%;
    padding-top: 30px;

}
*{
    margin: 2px;
    padding:2px;
}
main{
    display: inline;
}
  ul{
   background-image: url("/images/coffee.jpg");
   background-size:100% ;
   background-position: 70px;
   padding-top: 30px;
   padding-left: 30px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(196, 192, 187);
   padding-bottom: 40px;
}
li a:hover {
    color: rgb(201, 175, 70);
    align-items:flex-start;
   text-decoration: none;
    
    
} 
li a{
    padding-right: 30px; 
    color: blanchedalmond;
    text-decoration: none;
}
h3{
    padding-top: 30px;
}
table {
    
    
    width: 100%;
}
td{
    width:100%;
    padding-right: 40px;
    padding-left: 40px;

}
 label,option{
    box-decoration-break:slice;
    color: brown;

    
}
.rightFloat{
    float: right;
}
