/**{
    margin: 0;
    padding: 0;;
}

.container{
    width: 120px;
    height: 100vh;
    color: white;
    background: crimson;
}
.container p{
padding: 5px;
}

.container p:hover ,button:hover{
    background: #000;
    cursor: pointer;
}

button{
    color: white;
    background: crimson;
    border: none;
    border-radius: 5px;
}
#close{
    position: absolute;
    left: 125px;
}
.hide{
    display: none;
}*/
*{
    margin: 0;
    padding: 0;;
}
body{
background: #222;
color: #fff;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.crud{
    width: 80%;
    margin:auto ;
}
.head{
   text-align: center;
   text-transform: uppercase; 
   margin-top:10px 0;
   margin-bottom: 10px;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding:4px ;
    color: #fff;

}

input:focus{
    background: #000;
    transform: scale(1.1);
}
.price input{
   width: 20%; 
}
#total{
background: #a5689e;
padding: 4px 2px;
border-radius: 2pxs;
}
#total::before{
    content: 'total:';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #883098;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}
button:hover{
    background:#a5689e;
    letter-spacing :1px ;
}
.btnSearch{
    display: flex;
    justify-content: space-between;}

.btnSearch button{
width: 45%;
}
#deleteAll{

    margin: 20px 0px;
}

table{
    width: 100%;
    text-align: center;
    margin: 10px 0 ;
}

table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
