.photo img{
    width: 200px;
    height: 200px;
    border:5px solid #aaa ;
}

.photo img:hover{
    cursor: pointer;
    border:5px solid #080 ;
}
.main img{
    border:5px solid #aaa ;
    width: 830px;
    height: 830px;
}